In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [2]:
import os

In [3]:
os.chdir("D:\\Training\\001-RB Data Science\\004_Decision Tree\\")

In [15]:
df=pd.read_csv("Credit.csv")

In [5]:
df.head()

,Creditability,Account_Balance,Credit_Month,Credit_History,Purpose,Credit_Amount,Value_Savings,Emp_Len,Instalmen_percent,Sex,...,Current_add,asset,age,Concurrent_Credits,Type_of_apartment,no_credits,Occupation,dependents,Telephone,Foreign_Worker
0,1,1,18,4,2,1049,1,2,4,2,...,4,2,21,3,1,1,3,1,1,1
1,1,1,9,4,0,2799,1,3,2,3,...,2,1,36,3,1,2,3,2,1,1
2,1,2,12,2,9,841,2,4,2,2,...,4,1,23,3,1,1,2,1,1,1
3,1,1,12,4,0,2122,1,3,3,3,...,2,1,39,3,1,2,2,2,1,2
4,1,1,12,4,0,2171,1,3,4,3,...,4,2,38,1,2,2,2,1,1,2

In [16]:
df["Creditability"]=pd.factorize(df.Creditability)[0]

In [38]:
#df["Account_Balance"]=pd.factorize(df.Account_Balance)[0]
#df["Credit_History"]=pd.factorize(df.Credit_History)[0]

In [60]:
var=np.array([1,2,4,5,7,8,10,11,13,15,16,18,20,21])
for i in var:
    df.iloc[:,i-1]=df.iloc[:,i-1].astype('category')

In [61]:
Y=df.loc[:,['Creditability']]

In [62]:
X=df.loc[:,['Account_Balance', 'Credit_Month', 'Credit_History',
       'Purpose', 'Credit_Amount', 'Value_Savings', 'Emp_Len',
       'Instalmen_percent', 'Sex', 'Guarantors', 'Current_add', 'asset', 'age',
       'Concurrent_Credits', 'Type_of_apartment', 'no_credits', 'Occupation',
       'dependents', 'Telephone', 'Foreign_Worker']]

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state = 47, test_size = 0.3)

In [64]:
clf = DecisionTreeClassifier(criterion = 'entropy')

In [65]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [66]:
y_pred =  clf.predict(X_test)

In [67]:
from sklearn.metrics import accuracy_score

In [68]:
accuracy_score(y_true=y_train, y_pred=clf.predict(X_train))

1.0

In [59]:
y_pred

array([0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0], dtype=int64)